Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin

utils functions for PP
  tpu_inference/distributed/jax_parallel_state.py
  tpu_inference/models/jax/jax_intermediate_tensor.py
Owners: @mrjunwan-lang, @xiangxu-google, @vipannalla

Included functional text portion of Llama Guard 4
  examples/offline_llama_guard_4_inference.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/models/jax/llama_guard_4.py
Owners: @vipannalla

[Bugfix] Fix sinks related argument error
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/vllm/attention.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323

[GPT-OSS] inital commit to use MoE kernel
  tpu_inference/kernels/fused_moe/v1/kernel.py
  tpu_inference/layers/jax/moe/gpt_oss_moe.py
  tpu_inference/models/jax/gpt_oss.py
Owners: @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @jrplatin, @gpolovets1

update execute_model to support async scheduling in vllm
  tpu_inference/core/core_tpu.py
  tpu_inference/runner/kv_cache_manager.py
Owners: @sixiang-google, @py4, @xiangxu-google

fix ut for execute_model update
  tests/core/test_core_tpu.py
Owners: @vipannalla

ok, fixed the torchax.view.item() issue.
  tests/lora/test_layers.py
  tpu_inference/lora/torch_punica_tpu.py
Owners: @vipannalla, @vanbasten23

also check if the correct and the sharding is correct.
  tests/lora/test_layers.py
Owners: @vipannalla

fix the format
  tests/lora/test_layers.py
  tpu_inference/lora/torch_punica_tpu.py
  tpu_inference/runner/compilation_manager.py
Owners: @vipannalla, @vanbasten23, @py4, @xiangxu-google

ok. The case without lora passed.
  tests/lora/test_layers.py
Owners: @vipannalla

cleaned up
  tests/lora/test_layers.py
Owners: @vipannalla

clean up
  tests/lora/test_layers.py
Owners: @vipannalla

add multi-chip test case
  .buildkite/pipeline_jax.yml
  tests/lora/test_layers.py
Owners: @jcyang43, @vipannalla

now the test can run to completion.
  tests/lora/test_layers.py
  tpu_inference/runner/compilation_manager.py
Owners: @vipannalla, @py4, @xiangxu-google

Save an initial version. Not capable of running at all.
  tests/lora/conftest.py
  tests/lora/test_layers.py
  tests/lora/utils.py
Owners: @vipannalla

ok, the test passed. Need to make it simpler next.
  tests/lora/test_layers.py
  tpu_inference/lora/torch_punica_tpu.py
Owners: @vipannalla, @vanbasten23

Add lora unit tests to the CI
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

extract the function _create_column_parallel_packed_layer out of the test.
  tests/lora/test_layers.py
Owners: @vipannalla

in the middle of refactoring
  tests/lora/test_layers.py
Owners: @vipannalla

reduce the size of the test
  tests/lora/test_layers.py
Owners: @vipannalla

change ed_sharding = (None, None) in router
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

Changed key name in _MODEL_REGISTRY for LlamaGuard4ForCausalLM
  tpu_inference/models/common/model_loader.py
Owners: @vipannalla

[Disagg] Fix unit test for execute_model update (#1046)
  tests/core/test_core_tpu.py
Owners: @vipannalla

[Bugfix] Fix sinks related argument error (#1044)
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/vllm/attention.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323

Fixed tokenizer.Encoding issue by extracting the .ids field from the output of the tokenizer.encode() call in the inference script
  examples/offline_llama_guard_4_inference.py
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/vllm/attention.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323

Added dtype reassignment to top of __init__ of LlamaGuard4ForCausalLM. No longer have any changes in vllm
  tpu_inference/models/jax/llama_guard_4.py
Owners: @vipannalla

[Bugfix] Fix attention interface unit test
  tests/models/jax/test_attention_interface.py
Owners: @vipannalla

[Refactor] Fix jax layers tests directory
  tests/layers/jax/attention/test_common_attention.py
  tests/layers/jax/attention/test_deepseek_v3_attention.py
  tests/layers/jax/attention/test_llama4_attention.py
  tests/layers/jax/moe/test_deepseek_moe.py
  tests/layers/jax/sample/test_rejection_sampler.py
  tests/layers/jax/sample/test_sampling.py
  tests/layers/jax/sample/test_sampling_metadata.py
  tests/layers/jax/test_layers.py
  tests/layers/jax/test_rope.py
  tests/layers/jax/test_sharding.py
  tests/layers/jax/test_transformer_block.py
Owners: @vipannalla

[Bugfix] Fix attention interface unit test (#1048)
  tests/models/jax/test_attention_interface.py
Owners: @vipannalla

Set VLLM_DISABLE_SHARED_EXPERTS_STREAM=1 by default for TPU inference
  tpu_inference/__init__.py
Owners: @vipannalla

update init
  tpu_inference/__init__.py
Owners: @vipannalla

Fix isort formatting
  tpu_inference/__init__.py
Owners: @vipannalla

Add environment override
  tpu_inference/env_override.py
Owners: @vipannalla

Added buildkite CI YAML file
  .buildkite/features/llama-guard-4-text.yml
  examples/chat_templates/chat_template_llama_guard_4.jinja
  examples/offline_llama_guard_4_inference.py
Owners: @jcyang43, @vipannalla

Fix API usage of jax.make_mesh
  examples/disagg/multi_proc_per_worker.py
  examples/disagg/single_proc_per_worker.py
Owners: @vipannalla

Fix API usage of jax.make_mesh (#1051)
  examples/disagg/multi_proc_per_worker.py
  examples/disagg/single_proc_per_worker.py
Owners: @vipannalla

Set VLLM_DISABLE_SHARED_EXPERTS_STREAM=1 by default for TPU inference (#1021)
  tpu_inference/__init__.py
  tpu_inference/env_override.py
Owners: @vipannalla

[Kernel] implement 1st version of data-movement friendly MLA kernel with no kv update fused (#1022)
  tests/kernels/mla_v1_test.py
  tpu_inference/kernels/mla/__init__.py
  tpu_inference/kernels/mla/v1/__init__.py
  tpu_inference/kernels/mla/v1/kernel.py
Owners: @vipannalla, @kyuyeunk, @yaochengji, @bythew3i

ray
  tpu_inference/executors/ray_distributed_executor.py
Owners: @xiangxu-google, @mrjunwan-lang

support mpmd profiling
  tpu_inference/worker/tpu_worker_jax.py
Owners: @py4, @xiangxu-google, @lsy323, @vanbasten23
