Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

[Misc] Change buildkite pipeline to run all steps but skip some through command.
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

[Misc] Change buildkite pipeline to run all steps but skip some through command (#1005)
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

update cpu_offloading_save_test
  tests/distributed/cpu_offload_save_test.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google

Bump jax version to 0.8.0
  requirements.txt
Owners: @vipannalla

add tests for cpu_offloading_worker save/load
  tests/distributed/cpu_offload_load_test.py
  tests/distributed/cpu_offloading_kv_roundtrip_test.py
  tests/distributed/cpu_offloading_worker_test.py
  tpu_inference/distributed/local_cpu_backend.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google

rename cache_util test file
  tests/distributed/cpu_offloading_cache_util_test.py
Owners: @vipannalla

adding kernel tuning size
  tpu_inference/kernels/quantized_matmul/tuned_block_sizes.py
  tpu_inference/models/jax/qwen3.py
Owners: @kyuyeunk, @yaochengji, @bythew3i, @vipannalla

Prototyping aJax Einsum Layer
  tpu_inference/kernels/quantized_matmul/tuned_block_sizes.py
  tpu_inference/kernels/ragged_paged_attention/v3/tuned_block_sizes.py
  tpu_inference/models/jax/qwen3.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @kyuyeunk, @yaochengji, @bythew3i, @vipannalla

Trying optimize JaxEinsumLayer and kernels
  tpu_inference/kernels/quantized_matmul/tuned_block_sizes.py
  tpu_inference/kernels/ragged_paged_attention/v3/tuned_block_sizes.py
  tpu_inference/models/jax/qwen3.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @kyuyeunk, @yaochengji, @bythew3i, @vipannalla

convert otrch tensor to jnp for float8 dtype support
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

Prototyping weight_scale load from weight files for Qwen3
  tpu_inference/models/jax/qwen3.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

Prototyping to apply quantized matmul to mlp layers by wrapping up nnx.linear
  tpu_inference/models/jax/qwen3.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

Initial commit
  CONTRIBUTING.md
Owners: @jrplatin, @bvrockwell

Fix .gitignore rule for support_matrices (#1008)
  .gitignore
Owners: @vipannalla

Fix .gitignore rule for support_matrices (#1008)
  .gitignore
Owners: @vipannalla

fix pre-commits
  tpu_inference/distributed/tpu_connector.py
  tpu_inference/executors/ray_distributed_executor.py
Owners: @mrjunwan-lang, @xiangxu-google

fix the wrong KVAggregator finished count cause dead loop
  tpu_inference/distributed/tpu_connector.py
  tpu_inference/executors/ray_distributed_executor.py
Owners: @mrjunwan-lang, @xiangxu-google

update ray executor to adopt vllm changes
  tpu_inference/executors/ray_distributed_executor.py
Owners: @xiangxu-google, @mrjunwan-lang

integrate kernel
  tests/kernels/fused_moe_v1_test.py
  tests/layers/vllm/test_unquantized.py
  tpu_inference/kernels/fused_moe/v1/kernel.py
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @vipannalla, @kyuyeunk, @yaochengji, @bythew3i, @hfan, @vanbasten23, @lsy323

update assertion
  tpu_inference/kernels/fused_moe/v1/kernel.py
Owners: @kyuyeunk, @yaochengji, @bythew3i

format'
  tests/kernels/fused_moe_v1_test.py
  tests/layers/vllm/test_unquantized.py
Owners: @vipannalla

fix linter
  tests/kernels/fused_moe_v1_test.py
Owners: @vipannalla

Fix the wrong KVAggregator finished count cause dead loop, adopt vllm changes (#1009)
  tpu_inference/distributed/tpu_connector.py
  tpu_inference/executors/ray_distributed_executor.py
Owners: @mrjunwan-lang, @xiangxu-google

skip test in ci since it needs jax 0.8.0
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

[Docs] Update CONTRIBUTING.MD with testing info (#1007)
  CONTRIBUTING.md
Owners: @jrplatin, @bvrockwell

fix comments
  tpu_inference/distributed/tpu_connector_local.py
Owners: @mrjunwan-lang, @xiangxu-google

Add activation_ffw_td parameter to RMSNorm
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

fix comments
  tpu_inference/distributed/tpu_connector_local.py
Owners: @mrjunwan-lang, @xiangxu-google

[skip ci] Update nightly support matrices
  support_matrices/nightly/feature_support_matrix.csv
  support_matrices/nightly/model_support_matrix.csv
Owners: @vipannalla

Fixes for qwen3 moe
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/layers/vllm/quantization/common.py
  tpu_inference/layers/vllm/quantization/unquantized.py
  tpu_inference/layers/vllm/sharding.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/kv_cache.py
  tpu_inference/runner/tpu_jax_runner.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323, @xiangxu-google, @sixiang-google

fix sharding
  tpu_inference/layers/vllm/quantization/common.py
Owners: @hfan, @vanbasten23, @lsy323

Optimize ragged all to all
  tpu_inference/layers/vllm/fused_moe.py
Owners: @hfan, @vanbasten23, @lsy323

Bump jax version to 0.8.0 (#1006)
  requirements.txt
Owners: @vipannalla

introduce cpu agents for general-purpose tasks that don't require TPU
  .buildkite/features/Chunked_Prefill.yml
  .buildkite/features/Collective_Communication_Matmul.yml
  .buildkite/features/JAX-Path_Qxix_Quantization.yml
  .buildkite/features/Multimodal_Inputs.yml
  .buildkite/features/Prefix_Caching.yml
  .buildkite/features/Quantized_Matmul_Attention_and_KV_Cache.yml
  .buildkite/features/Ragged_Paged_Attention_V3.yml
  .buildkite/features/Single_Program_Multi_Data.yml
  .buildkite/features/Speculative_Decoding-_Ngram.yml
  .buildkite/features/Structured_Decoding.yml
  .buildkite/main.yml
  .buildkite/models/Qwen_Qwen2_5-VL-7B-Instruct.yml
  .buildkite/models/Qwen_Qwen3-30B-A3B.yml
  .buildkite/models/Qwen_Qwen3-32B.yml
  .buildkite/models/Qwen_Qwen3-4B.yml
  .buildkite/models/google_gemma-3-27b-it.yml
  .buildkite/models/meta-llama_Llama-3_1-8B-Instruct.yml
  .buildkite/models/meta-llama_Llama-3_3-70B-Instruct.yml
  .buildkite/pipeline_generation/feature_template.yml
  .buildkite/pipeline_generation/tpu_optimized_model_template.yml
  .buildkite/pipeline_generation/vllm_native_model_template.yml
  .buildkite/pipeline_jax.yml
  .buildkite/pipeline_torch.yml
  .buildkite/scripts/check_results.sh
  .buildkite/scripts/upload_models_and_features.sh
Owners: @jcyang43

tweaks
  tests/distributed/cpu_offloading_worker_test.py
  tests/distributed/host_offloading_accuracy_test.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google

Introduce cpu agents for general-purpose tasks that don't require TPU (#1012)
  .buildkite/features/Chunked_Prefill.yml
  .buildkite/features/Collective_Communication_Matmul.yml
  .buildkite/features/JAX-Path_Qxix_Quantization.yml
  .buildkite/features/Multimodal_Inputs.yml
  .buildkite/features/Prefix_Caching.yml
  .buildkite/features/Quantized_Matmul_Attention_and_KV_Cache.yml
  .buildkite/features/Ragged_Paged_Attention_V3.yml
  .buildkite/features/Single_Program_Multi_Data.yml
  .buildkite/features/Speculative_Decoding-_Ngram.yml
  .buildkite/features/Structured_Decoding.yml
  .buildkite/main.yml
  .buildkite/models/Qwen_Qwen2_5-VL-7B-Instruct.yml
  .buildkite/models/Qwen_Qwen3-30B-A3B.yml
  .buildkite/models/Qwen_Qwen3-32B.yml
  .buildkite/models/Qwen_Qwen3-4B.yml
  .buildkite/models/google_gemma-3-27b-it.yml
  .buildkite/models/meta-llama_Llama-3_1-8B-Instruct.yml
  .buildkite/models/meta-llama_Llama-3_3-70B-Instruct.yml
  .buildkite/pipeline_generation/feature_template.yml
  .buildkite/pipeline_generation/tpu_optimized_model_template.yml
  .buildkite/pipeline_generation/vllm_native_model_template.yml
  .buildkite/pipeline_jax.yml
  .buildkite/pipeline_torch.yml
  .buildkite/scripts/check_results.sh
  .buildkite/scripts/upload_models_and_features.sh
Owners: @jcyang43

WIP: Verifying correctness of vision encoder. Currently outputting large diff between HF and JAX
  .gitignore
  comparison_runner.py
  input_generator.py
  jax_execution.py
  requirements_v7x.txt
  tpu_inference/layers/jax/attention/attention.py
  tpu_inference/layers/jax/attention/llama4_attention.py
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/jax/rope_interface.py
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/llama_guard_4.py
  vision_encoder_comparison.py
  weight_verification.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1

use sharded device put to handle multi host
  tpu_inference/layers/vllm/sharding.py
Owners: @hfan, @vanbasten23, @lsy323

Revert "Bump jax version to 0.8.0 (#1006)"
  requirements.txt
Owners: @vipannalla

Revert "Bump jax version to 0.8.0" (#1013)
  requirements.txt
Owners: @vipannalla

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin
