Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin

[Torchax] Support bias and swiglu in MoE (#1040)
  tests/layers/vllm/test_unquantized.py
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/layers/vllm/quantization/unquantized.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

[skip ci] Update nightly support matrices
  support_matrices/nightly/feature_support_matrix.csv
  support_matrices/nightly/model_support_matrix.csv
Owners: @vipannalla

wip
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

Add instruction to set up pre-commit hooks. (#1029)
  CONTRIBUTING.md
Owners: @jrplatin, @bvrockwell

Add unit test
  tests/layers/vllm/test_compressed_tensors_moe.py
  tpu_inference/layers/vllm/quantization/compressed_tensors/compressed_tensors_moe.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

remove init
  tpu_inference/layers/vllm/quantization/compressed_tensors/compressed_tensors_moe.py
Owners: @hfan, @vanbasten23, @lsy323

fix precommit
  tpu_inference/layers/vllm/sharding.py
Owners: @hfan, @vanbasten23, @lsy323

Modified the Llama Guard 4 offline inference script to use apply_chat_template, removing the need for the .jinja file
  examples/chat_templates/chat_template_llama_guard_4.jinja
  examples/offline_llama_guard_4_inference.py
Owners: @vipannalla

initial commit on compressed-tensors quantization support for fp8 (#1011)
  tests/layers/vllm/test_compressed_tensors_moe.py
  tpu_inference/layers/vllm/quantization/__init__.py
  tpu_inference/layers/vllm/quantization/compressed_tensors/compressed_tensors.py
  tpu_inference/layers/vllm/quantization/compressed_tensors/compressed_tensors_moe.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

fixed the test
  tests/lora/test_layers.py
Owners: @vipannalla

Start using bf16
  tests/lora/test_layers.py
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

Fix Torchax backend on Pathways (#1052)
  tpu_inference/kernels/ragged_paged_attention/v3/util.py
  tpu_inference/layers/vllm/sharding.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
Owners: @kyuyeunk, @yaochengji, @bythew3i, @hfan, @vanbasten23, @lsy323

wip
  tpu_inference/layers/jax/sharding.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google, @sixiang-google

wip
  tests/runner/test_tpu_jax_runner_mesh.py
  tpu_inference/models/jax/utils/weight_utils.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @py4, @xiangxu-google, @sixiang-google

wip
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

multi-slice mesh
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

wip
  tpu_inference/models/jax/utils/weight_utils.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @py4, @xiangxu-google, @sixiang-google

wip
  tpu_inference/models/jax/utils/weight_utils.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @py4, @xiangxu-google, @sixiang-google

Changed yml file to model specific kind and removed NamedSharding instances from Llama Guard 4 subclass initializations to comply with unit tests
  .buildkite/features/llama-guard-4-text.yml
  .buildkite/models/meta-llama_Llama-Guard-4-12B.yml
  tests/e2e/benchmarking/test_llama_guard_4_accuracy.sh
  tests/models/jax/test_llama_guard_4.py
  tpu_inference/models/jax/llama_guard_4.py
Owners: @jcyang43, @vipannalla

add nightly releases for vllm/vllm-tpu docker
  .buildkite/nightly_releases.yml
  .buildkite/scripts/bootstrap.sh
Owners: @jcyang43

wip
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

Multi-slice mesh creation support (#1060)
  tests/runner/test_tpu_jax_runner_mesh.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google, @sixiang-google

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

multi-slice mesh
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @py4, @xiangxu-google, @sixiang-google

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  tpu_inference/utils.py
Owners: @vipannalla

wip
  tests/test_utils.py
  tpu_inference/utils.py
Owners: @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  tpu_inference/runner/compilation_manager.py
Owners: @py4, @xiangxu-google

wip
  baseline_async_log.txt
  baseline_log.txt
  dp_2_tp1_async_log.txt
  dp_2_tp1_log.txt
  dp_2_tp1_log_1.txt
  dp_2_tp1_log_2.txt
  dp_8_tp1_async_log.txt
  test_data_parallelism_correctness_log.txt
  torch_debug_log.txt
  unit_test.py
  unit_tests_log.txt
Owners: @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

Add kv quantization supportnof gpt-oss
  tpu_inference/layers/jax/attention/gpt_oss_attention.py
  tpu_inference/models/jax/gpt_oss.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

[KV] Change padding logic when head_dim is 64
  tests/runner/test_kv_cache_manager.py
  tpu_inference/utils.py
Owners: @vipannalla

Add nightly releases for vllm/vllm-tpu docker (#1062)
  .buildkite/nightly_releases.yml
  .buildkite/scripts/bootstrap.sh
Owners: @jcyang43

Ignore MoE test for now.
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

[Disagg] Fixes for vllm model impl disagg support
  tpu_inference/core/core_tpu.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
Owners: @sixiang-google, @hfan, @vanbasten23, @lsy323
