Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin

Refactor(nnx): Remove Redundant FFW Call in SharedExpertsTransformerBlock (#1089)
  tpu_inference/layers/jax/transformer_block.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

Revert head dim change
  tpu_inference/utils.py
Owners: @vipannalla

Add more lora wrapper unit tests (#1036)
  tests/lora/test_layers.py
  tpu_inference/layers/vllm/sharding.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

Add comprehensive tests for environment variable module
  tests/test_envs.py
Owners: @vipannalla

Fix formatting issues in test_envs.py
  tests/test_envs.py
Owners: @vipannalla

[CI] fix unit test (#1086)
  tests/layers/jax/attention/test_deepseek_v3_attention.py
  tests/layers/jax/test_rope.py
Owners: @vipannalla

[CI] Fix head dim check
  tests/models/jax/test_llama3.py
  tests/test_utils.py
Owners: @vipannalla

Revert "Upgrade jax version to 0.8.0 (#1087)"
  requirements.txt
Owners: @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

multi-slice mesh
  tpu_inference/runner/tpu_runner.py
Owners: @py4, @xiangxu-google

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
  tpu_inference/runner/tpu_runner.py
Owners: @vipannalla, @py4, @xiangxu-google

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  baseline_async_log.txt
  baseline_log.txt
  dp_2_tp1_async_log.txt
  dp_2_tp1_log.txt
  dp_2_tp1_log_1.txt
  dp_2_tp1_log_2.txt
  dp_8_tp1_async_log.txt
  test_data_parallelism_correctness_log.txt
  torch_debug_log.txt
  unit_test.py
  unit_tests_log.txt
Owners: @vipannalla

wip
  tpu_inference/utils.py
Owners: @vipannalla

wip
  tpu_inference/utils.py
Owners: @vipannalla

wip
  tests/test_utils.py
  tpu_inference/utils.py
Owners: @vipannalla

wip
  tpu_inference/runner/kv_cache_manager.py
  tpu_inference/utils.py
Owners: @py4, @xiangxu-google, @vipannalla

wip
  tpu_inference/utils.py
Owners: @vipannalla

wip
  tpu_inference/utils.py
  tpu_inference/worker/tpu_worker.py
Owners: @vipannalla, @py4, @xiangxu-google, @lsy323, @vanbasten23

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  tests/test_utils.py
  tpu_inference/runner/kv_cache_manager.py
  tpu_inference/utils.py
  tpu_inference/worker/tpu_worker.py
Owners: @vipannalla, @py4, @xiangxu-google, @lsy323, @vanbasten23

wip
  baseline_async_log.txt
  baseline_log.txt
  dp_2_tp1_async_log.txt
  dp_2_tp1_log.txt
  dp_2_tp1_log_1.txt
  dp_2_tp1_log_2.txt
  dp_8_tp1_async_log.txt
  test_data_parallelism_correctness_log.txt
  torch_debug_log.txt
  unit_test.py
  unit_tests_log.txt
Owners: @vipannalla

wip
  tpu_inference/utils.py
Owners: @vipannalla

wip
  tests/test_utils.py
  tpu_inference/utils.py
Owners: @vipannalla

wip
  tests/test_utils.py
Owners: @vipannalla

Revert "Upgrade jax version to 0.8.0" (#1094)
  requirements.txt
Owners: @vipannalla

Update Pathways HBM calculation (#1097)
  tests/test_utils.py
  tpu_inference/utils.py
Owners: @vipannalla

remove logs
  tpu_inference/runner/tpu_runner.py
Owners: @py4, @xiangxu-google

Relaxing reshape ops using vmap
  tpu_inference/kernels/quantized_matmul/kernel.py
  tpu_inference/kernels/quantized_matmul/tuned_block_sizes.py
  tpu_inference/layers/vllm/linear_common.py
  tpu_inference/models/jax/qwen3.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @kyuyeunk, @yaochengji, @bythew3i, @hfan, @vanbasten23, @lsy323, @vipannalla

[BugFix] Remove redundant device_put.
  tpu_inference/runner/tpu_runner.py
Owners: @py4, @xiangxu-google

Add email alerts for nightly pipelines
  .buildkite/main.yml
  .buildkite/nightly_releases.yml
Owners: @jcyang43

[BugFix] Remove redundant device_put. (#1099)
  tpu_inference/runner/tpu_runner.py
Owners: @py4, @xiangxu-google

experimental multi-host device_put
  tpu_inference/runner/tpu_runner.py
Owners: @py4, @xiangxu-google

Add email alerts for nightly pipelines (#1095)
  .buildkite/main.yml
  .buildkite/nightly_releases.yml
Owners: @jcyang43

experimental multi-host device_put
  tpu_inference/runner/tpu_runner.py
Owners: @py4, @xiangxu-google

[do not merge] test torchvision upgrade
  requirements.txt
Owners: @vipannalla

experimental multi-host device_put
  tpu_inference/runner/tpu_runner.py
Owners: @py4, @xiangxu-google
