Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin

added test for MergedQKVParallelLinearWithLoRA
  tests/lora/test_layers.py
Owners: @vipannalla

Added the test for QKVParallelLinearWithLoRA
  tests/lora/test_layers.py
  tpu_inference/layers/vllm/sharding.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

[Kernel] implement 1st version of data-movement friendly MLA kernel with no kv update fused
  tests/kernels/mla_v1_test.py
  tpu_inference/kernels/mla/__init__.py
  tpu_inference/kernels/mla/v1/__init__.py
  tpu_inference/kernels/mla/v1/kernel.py
Owners: @vipannalla, @kyuyeunk, @yaochengji, @bythew3i

initial commit on compressed-tensors quantization support for fp8
  tpu_inference/layers/vllm/quantization/__init__.py
  tpu_inference/layers/vllm/quantization/compressed_tensors/compressed_tensors.py
  tpu_inference/layers/vllm/quantization/compressed_tensors/compressed_tensors_moe.py
Owners: @hfan, @vanbasten23, @lsy323

add cpu_offload_scheduler unittest
  tests/distributed/cpu_offloading_scheduler_test.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google

Support float8_e4m3fn dtype weight loading for jax
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

Fix default value for USE_MOE_EP_KERNEL (#1014)
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @hfan, @vanbasten23, @lsy323

fix tests
  tests/runner/test_multimodal_manager.py
Owners: @vipannalla

fix tests
  tests/layers/vllm/test_attention.py
Owners: @vipannalla

format
  tests/e2e/test_data_parallel.py
Owners: @vipannalla

formatting
  tpu_inference/layers/jax/sharding.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

remove log
  tpu_inference/core/sched/dp_scheduler.py
Owners: @sixiang-google

wip
  tests/layers/jax/layers/test_sharding.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google, @sixiang-google

fix tests
  tests/runner/test_speculative_decoding_manager.py
  tests/runner/test_tpu_jax_runner.py
Owners: @vipannalla

wip
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

fix unit tests
  tpu_inference/worker/tpu_worker_jax.py
Owners: @py4, @xiangxu-google, @lsy323, @vanbasten23

address comments
  tests/runner/test_tpu_jax_runner_dp.py
  tpu_inference/core/sched/dp_scheduler.py
  tpu_inference/layers/jax/attention/attention.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/tpu_jax_runner.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @vipannalla, @sixiang-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google, @lsy323, @vanbasten23

wip
  tpu_inference/core/sched/dp_scheduler.py
Owners: @sixiang-google

wip
  tests/e2e/test_async_scheduler.py
Owners: @vipannalla

fix tests
  tests/layers/jax/layers/test_sharding.py
  tpu_inference/layers/jax/sharding.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1

formatting
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @hfan, @vanbasten23, @lsy323

wip
  tpu_inference/layers/jax/sharding.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

wip
  tpu_inference/layers/jax/sharding.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

fix tests
  tests/models/common/test_model_loader.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @vipannalla, @py4, @xiangxu-google, @lsy323, @vanbasten23

wip
  tpu_inference/layers/jax/sharding.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

revert torchax change
  tpu_inference/models/vllm/vllm_model_wrapper.py
Owners: @hfan, @vanbasten23, @lsy323

fix test
  tests/runner/test_kv_cache.py
Owners: @vipannalla

wip
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

fix test
  tests/runner/test_tpu_jax_runner_dp.py
Owners: @vipannalla

fix test
  tests/runner/test_structured_decoding_manager.py
Owners: @vipannalla

revert changes to submit in another PR
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/layers/vllm/quantization/common.py
  tpu_inference/layers/vllm/quantization/unquantized.py
  tpu_inference/layers/vllm/sharding.py
  tpu_inference/models/jax/qwen2.py
  tpu_inference/models/jax/qwen3.py
Owners: @hfan, @vanbasten23, @lsy323, @vipannalla

fix unit tests
  tests/models/common/test_model_loader.py
  tests/models/jax/test_attention_interface.py
  tests/models/jax/test_llama3.py
  tests/models/jax/test_llama4.py
  tests/models/jax/test_llama_eagle3.py
  tests/models/jax/test_phi3.py
  tests/models/jax/test_qwen2.py
  tests/models/jax/test_qwen2_5_vl.py
  tests/models/jax/test_qwen3.py
  tests/runner/test_kv_cache.py
  tests/runner/test_kv_cache_manager.py
  tests/runner/test_multimodal_manager.py
  tests/runner/test_speculative_decoding_manager.py
  tests/runner/test_tpu_jax_runner.py
  tests/test_quantization.py
  tests/worker/tpu_worker_jax_test.py
Owners: @vipannalla

wip
  tpu_inference/layers/vllm/quantization/common.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @hfan, @vanbasten23, @lsy323, @py4, @xiangxu-google, @sixiang-google

accomodate 2D mesh
  tests/e2e/test_data_parallel.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/models/jax/llama3.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google, @sixiang-google

fix test
  tests/layers/vllm/utils.py
Owners: @vipannalla

formatting
  tests/runner/test_kv_cache.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google, @sixiang-google

rebase
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

wip
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

wip
  tpu_inference/core/sched/dp_scheduler.py
Owners: @sixiang-google

wip
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @hfan, @vanbasten23, @lsy323, @py4, @xiangxu-google, @sixiang-google
