Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

Fix API usage of jax.make_mesh (#1051)
  examples/disagg/multi_proc_per_worker.py
  examples/disagg/single_proc_per_worker.py
Owners: @vipannalla

Add async scheduler test to CI (#1010)
  .buildkite/features/async_scheduler.yml
Owners: @jcyang43

use sharded device put to handle torchax on multi host (#1031)
  tpu_inference/layers/vllm/sharding.py
Owners: @hfan, @vanbasten23, @lsy323

Fix default value for USE_MOE_EP_KERNEL (#1014)
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @hfan, @vanbasten23, @lsy323

Update yml config for speculative decoding ngram (#1020)
  .buildkite/features/Speculative_Decoding-_Ngram.yml
Owners: @jcyang43

Add lora layer tests (#981)
  .buildkite/pipeline_jax.yml
  tests/lora/conftest.py
  tests/lora/test_layers.py
  tests/lora/utils.py
  tpu_inference/lora/torch_punica_tpu.py
Owners: @jcyang43, @vipannalla, @vanbasten23

async scheduler fix _substitute_placeholder_token_fn bug (#991)
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

[Disagg] update execute_model use according to upstream (#1032)
  tpu_inference/core/core_tpu.py
Owners: @sixiang-google

[Torchax] Add attention sink support in torchax (#1038)
  tests/layers/vllm/test_attention.py
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/vllm/attention.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323

[Bugfix] Fix sinks related argument error (#1044)
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/vllm/attention.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323

[Refactor] Fix jax layers tests directory (#1050)
  tests/layers/jax/attention/test_common_attention.py
  tests/layers/jax/attention/test_deepseek_v3_attention.py
  tests/layers/jax/attention/test_llama4_attention.py
  tests/layers/jax/moe/test_deepseek_moe.py
  tests/layers/jax/sample/test_rejection_sampler.py
  tests/layers/jax/sample/test_sampling.py
  tests/layers/jax/sample/test_sampling_metadata.py
  tests/layers/jax/test_layers.py
  tests/layers/jax/test_rope.py
  tests/layers/jax/test_sharding.py
  tests/layers/jax/test_transformer_block.py
Owners: @vipannalla

[Disagg] Fix unit test for execute_model update (#1046)
  tests/core/test_core_tpu.py
Owners: @vipannalla

[skip ci] Update nightly support matrices
  support_matrices/nightly/feature_support_matrix.csv
  support_matrices/nightly/model_support_matrix.csv
Owners: @vipannalla

[Kernel] implement 1st version of data-movement friendly MLA kernel with no kv update fused (#1022)
  tests/kernels/mla_v1_test.py
  tpu_inference/kernels/mla/__init__.py
  tpu_inference/kernels/mla/v1/__init__.py
  tpu_inference/kernels/mla/v1/kernel.py
Owners: @vipannalla, @kyuyeunk, @yaochengji, @bythew3i

Set VLLM_DISABLE_SHARED_EXPERTS_STREAM=1 by default for TPU inference (#1021)
  tpu_inference/__init__.py
  tpu_inference/env_override.py
Owners: @vipannalla

[Llama4/JAX] Llama4 FP8 Quantized Weight Loading and Sharding (#962)
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

squash
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/configs/int8_default.yaml
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla

Version - fix custom_module rule
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla

Version - with error DFF under custom_module still qwix
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/configs/int8_default.yaml
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla

Worked Version - worked for llama4 maverick, llama4 scout, llama4 maverick fp8
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

Worked Version - Quantization
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

Worked Verison passed all tests. Note: deepseek accuracy need verification
  tests/models/jax/test_llama4.py
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/configs/int8_default.yaml
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla

edit on comments
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

remove unused lines
  nohup.out
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla

Worked Verison passed all tests. Note: Reverse int8_defualt.yaml
  tests/models/jax/test_llama4.py
  tpu_inference/models/jax/utils/quantization/configs/int8_default.yaml
Owners: @vipannalla

fix _convert_torch_to_jax_with_view() error
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

run pre commit
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

changes for all gather
  tpu_inference/layers/jax/transformer_block.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

[Torchax] Fix sink parameter initialization
  tests/layers/vllm/test_attention.py
  tpu_inference/layers/vllm/attention.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

formatting
  tests/core/test_dp_scheduler.py
Owners: @vipannalla

wip
  tests/core/test_dp_scheduler.py
  tpu_inference/core/sched/dp_scheduler.py
Owners: @vipannalla, @sixiang-google

[Bug fix] vLLM upstream compatibility. Fix DP scheduler (#1057)
  tests/core/test_dp_scheduler.py
  tpu_inference/core/sched/dp_scheduler.py
Owners: @vipannalla, @sixiang-google

Update execute_model to support async scheduling in vllm (#1047)
  tpu_inference/core/core_tpu.py
  tpu_inference/runner/kv_cache_manager.py
Owners: @sixiang-google, @py4, @xiangxu-google

[Torchax] Support bias and swiglu in MoE
  tests/layers/vllm/test_unquantized.py
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/layers/vllm/quantization/unquantized.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

[Torchax] Support bias and swiglu in MoE
  tests/layers/vllm/test_unquantized.py
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/layers/vllm/quantization/unquantized.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

[TPU host offload] Setup precompile functions to TPU host offload (#1019)
  examples/gke/pod_tpu_host_offload_unit_tests.yaml
  tests/distributed/cpu_offloading_worker_test.py
  tests/distributed/host_offloading_precompile_test.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google

[DO NOT SUBMIT] Set sliding_window to None
  tpu_inference/layers/vllm/attention.py
Owners: @hfan, @vanbasten23, @lsy323

apply cl/826684774
  tpu_inference/kernels/quantized_matmul/kernel.py
  tpu_inference/kernels/quantized_matmul/util.py
  tpu_inference/layers/vllm/linear_common.py
  tpu_inference/models/jax/qwen3.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @kyuyeunk, @yaochengji, @bythew3i, @hfan, @vanbasten23, @lsy323, @vipannalla

[Torchax] Fix sink parameter initialization
  tests/layers/vllm/test_attention.py
  tpu_inference/layers/vllm/attention.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

[Torchax] Fix sink parameter initialization (#1056)
  tests/layers/vllm/test_attention.py
  tpu_inference/layers/vllm/attention.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin
