Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

refactor and format
  tests/layers/vllm/test_unquantized.py
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

async scheduler fix _substitute_placeholder_token_fn bug
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

format
  tpu_inference/kernels/fused_moe/v1/kernel.py
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @kyuyeunk, @yaochengji, @bythew3i, @hfan, @vanbasten23, @lsy323

remove unused import
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @hfan, @vanbasten23, @lsy323

linter
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @hfan, @vanbasten23, @lsy323

rm is_full_prefix_hit
  tests/distributed/cpu_offloading_worker_test.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google

Integrate MoE kernel for torchax path (#996)
  .buildkite/pipeline_jax.yml
  tests/kernels/fused_moe_v1_test.py
  tests/layers/vllm/test_unquantized.py
  tpu_inference/kernels/fused_moe/v1/kernel.py
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @jcyang43, @vipannalla, @kyuyeunk, @yaochengji, @bythew3i, @hfan, @vanbasten23, @lsy323

[TPU Offloading][Feature] Enforce block-sized operations (#1002)
  tests/distributed/cpu_offload_load_test.py
  tests/distributed/cpu_offload_save_test.py
  tests/distributed/cpu_offloading_cache_util_test.py
  tests/distributed/cpu_offloading_kv_roundtrip_test.py
  tests/distributed/cpu_offloading_worker_test.py
  tests/distributed/host_offloading_accuracy_test.py
  tpu_inference/distributed/cache_util.py
  tpu_inference/distributed/local_cpu_backend.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google

save changes
  tests/distributed/cache_util_test.py
  tpu_inference/distributed/cache_util.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google

Fix default value for USE_MOE_EP_KERNEL
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @hfan, @vanbasten23, @lsy323

test
  tpu_inference/models/jax/qwen3.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

Ensure substitute_placeholder_token inputs are on-device
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

[skip ci] Update nightly support matrices
  support_matrices/nightly/feature_support_matrix.csv
  support_matrices/nightly/model_support_matrix.csv
Owners: @vipannalla

add async scheduler test to CI
  .buildkite/features/async_scheduler.yml
Owners: @jcyang43

llama4 sharding changes
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

add dummy get_input_embeddings to fix vllm model type check
  tests/test_vllm_wrapper.py
  tpu_inference/models/common/model_loader.py
Owners: @vipannalla

add test to test_model_loader.py
  tests/models/common/test_model_loader.py
  tests/test_vllm_wrapper.py
Owners: @vipannalla

Comment out pre-attention and pre-MLP normalization
  tpu_inference/layers/jax/transformer_block.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

fix unit tests
  tests/models/common/test_model_loader.py
  tests/models/jax/test_attention_interface.py
  tests/models/jax/test_llama3.py
  tests/models/jax/test_llama4.py
  tests/models/jax/test_llama_eagle3.py
  tests/models/jax/test_phi3.py
  tests/models/jax/test_qwen2.py
  tests/models/jax/test_qwen2_5_vl.py
  tests/models/jax/test_qwen3.py
  tests/runner/test_kv_cache.py
  tests/runner/test_kv_cache_manager.py
  tests/runner/test_multimodal_manager.py
  tests/runner/test_speculative_decoding_manager.py
  tests/runner/test_tpu_jax_runner.py
  tests/test_quantization.py
  tests/worker/tpu_worker_jax_test.py
Owners: @vipannalla

wip
  tpu_inference/layers/jax/sharding.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

wip
  tpu_inference/core/sched/dp_scheduler.py
Owners: @sixiang-google

format
  tests/e2e/test_data_parallel.py
Owners: @vipannalla

squash
  .buildkite/pipeline_jax.yml
  tests/core/test_dp_scheduler.py
  tests/e2e/test_data_parallel.py
  tests/layers/jax/layers/attention/test_common_attention.py
  tests/layers/jax/layers/test_sharding.py
  tests/runner/test_tpu_jax_runner_dp.py
  tpu_inference/core/sched/__init__.py
  tpu_inference/core/sched/dp_scheduler.py
  tpu_inference/layers/jax/attention/attention.py
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/jax/sample/sampling.py
  tpu_inference/layers/jax/sample/sampling_metadata.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/layers/vllm/quantization/common.py
  tpu_inference/layers/vllm/quantization/unquantized.py
  tpu_inference/layers/vllm/sharding.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/models/jax/llama3.py
  tpu_inference/models/jax/qwen2.py
  tpu_inference/models/jax/qwen3.py
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
  tpu_inference/platforms/tpu_jax.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/kv_cache.py
  tpu_inference/runner/kv_cache_manager.py
  tpu_inference/runner/tpu_jax_runner.py
  tpu_inference/utils.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @jcyang43, @vipannalla, @sixiang-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323, @xiangxu-google

fix tests
  tests/models/common/test_model_loader.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @vipannalla, @py4, @xiangxu-google, @lsy323, @vanbasten23

wip
  tpu_inference/layers/vllm/quantization/common.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @hfan, @vanbasten23, @lsy323, @py4, @xiangxu-google, @sixiang-google

wip
  tpu_inference/core/sched/dp_scheduler.py
Owners: @sixiang-google

fix tests
  tests/layers/vllm/test_attention.py
Owners: @vipannalla

new scheduler
  tests/core/test_dp_scheduler.py
  tpu_inference/core/sched/dp_scheduler.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @sixiang-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google

fix test
  tests/layers/vllm/utils.py
Owners: @vipannalla

fix tests
  tests/runner/test_multimodal_manager.py
Owners: @vipannalla

fix unit tests
  tpu_inference/worker/tpu_worker_jax.py
Owners: @py4, @xiangxu-google, @lsy323, @vanbasten23

fix test
  tests/runner/test_structured_decoding_manager.py
Owners: @vipannalla

fix tests
  tests/runner/test_speculative_decoding_manager.py
  tests/runner/test_tpu_jax_runner.py
Owners: @vipannalla

wip
  tpu_inference/layers/jax/sharding.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

wip
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

wip
  tpu_inference/layers/jax/sharding.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

formatting
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @hfan, @vanbasten23, @lsy323

remove log
  tpu_inference/core/sched/dp_scheduler.py
Owners: @sixiang-google

wip
  tests/e2e/test_data_parallel.py
  tests/layers/jax/layers/test_sharding.py
Owners: @vipannalla

address comments
  tests/runner/test_tpu_jax_runner_dp.py
  tpu_inference/core/sched/dp_scheduler.py
  tpu_inference/layers/jax/attention/attention.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/tpu_jax_runner.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @vipannalla, @sixiang-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google, @lsy323, @vanbasten23

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin
