Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin

Code clean up
  tests/models/jax/test_llama_guard_4.py
  tpu_inference/models/jax/llama_guard_4.py
Owners: @vipannalla

Add kv quantization for gpt-oss (#1063)
  tpu_inference/layers/jax/attention/gpt_oss_attention.py
  tpu_inference/models/jax/gpt_oss.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

fix lora layers test
  tpu_inference/layers/vllm/sharding.py
Owners: @hfan, @vanbasten23, @lsy323

current best optimization
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

delete space
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

pre commit
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

Fix lora layers (#1068)
  tpu_inference/layers/vllm/sharding.py
Owners: @hfan, @vanbasten23, @lsy323

Remove SKIP_JAX_PRECOMPILE
  .buildkite/models/google_gemma-3-27b-it.yml
  examples/disagg/run_disagg_multi_host.sh
  examples/disagg/run_disagg_single_host.sh
  examples/offline_inference.py
  examples/offline_lora_inference.py
  tests/e2e/benchmarking/mm_bench.sh
  tests/e2e/test_multi_modal_inference.py
  tpu_inference/runner/compilation_manager.py
Owners: @jcyang43, @vipannalla, @py4, @xiangxu-google

[KV] Change padding logic when head_dim is 64 (#1064)
  tests/runner/test_kv_cache_manager.py
  tpu_inference/utils.py
Owners: @vipannalla

[Refactor] Remove jax suffix from file names
  tests/runner/test_block_table.py
  tests/runner/test_input_batch.py
  tests/runner/test_kv_cache_manager.py
  tests/runner/test_multimodal_manager.py
  tests/runner/test_speculative_decoding_manager.py
  tests/runner/test_structured_decoding_manager.py
  tests/runner/test_tpu_runner.py
  tests/runner/test_tpu_runner_dp.py
  tests/runner/test_tpu_runner_mesh.py
  tests/worker/tpu_worker_test.py
  tpu_inference/distributed/tpu_connector.py
  tpu_inference/layers/jax/sample/sampling_metadata.py
  tpu_inference/platforms/__init__.py
  tpu_inference/platforms/tpu_platform.py
  tpu_inference/runner/block_table.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/input_batch.py
  tpu_inference/runner/kv_cache_manager.py
  tpu_inference/runner/lora_utils.py
  tpu_inference/runner/multimodal_manager.py
  tpu_inference/runner/persistent_batch_manager.py
  tpu_inference/runner/speculative_decoding_manager.py
  tpu_inference/runner/structured_decoding_manager.py
  tpu_inference/runner/tpu_runner.py
  tpu_inference/runner/utils.py
  tpu_inference/worker/tpu_worker.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @lsy323, @vanbasten23, @Lumosis

add default feature in generate support matrices (#1026)
  .buildkite/features/Chunked_Prefill.yml
  .buildkite/features/JAX-Path_Qxix_Quantization.yml
  .buildkite/features/Prefix_Caching.yml
  .buildkite/features/Quantized_Matmul_Attention_and_KV_Cache.yml
  .buildkite/features/Ragged_Paged_Attention_V3.yml
  .buildkite/features/Single_Program_Multi_Data.yml
  .buildkite/features/default_features.txt
  .buildkite/scripts/generate_support_matrices.sh
Owners: @jcyang43

Added tuned kernel block size for customer's model
  tpu_inference/kernels/ragged_paged_attention/v3/tuned_block_sizes.py
Owners: @kyuyeunk, @yaochengji, @bythew3i

[skip ci] Update nightly support matrices
  support_matrices/nightly/feature_support_matrix.csv
  support_matrices/nightly/model_support_matrix.csv
Owners: @vipannalla

[Refactor] Remove jax suffix from file names (#1070)
  tests/runner/test_block_table.py
  tests/runner/test_input_batch.py
  tests/runner/test_kv_cache_manager.py
  tests/runner/test_multimodal_manager.py
  tests/runner/test_speculative_decoding_manager.py
  tests/runner/test_structured_decoding_manager.py
  tests/runner/test_tpu_runner.py
  tests/runner/test_tpu_runner_dp.py
  tests/runner/test_tpu_runner_mesh.py
  tests/worker/tpu_worker_test.py
  tpu_inference/distributed/tpu_connector.py
  tpu_inference/layers/jax/sample/sampling_metadata.py
  tpu_inference/platforms/__init__.py
  tpu_inference/platforms/tpu_platform.py
  tpu_inference/runner/block_table.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/input_batch.py
  tpu_inference/runner/kv_cache_manager.py
  tpu_inference/runner/lora_utils.py
  tpu_inference/runner/multimodal_manager.py
  tpu_inference/runner/persistent_batch_manager.py
  tpu_inference/runner/speculative_decoding_manager.py
  tpu_inference/runner/structured_decoding_manager.py
  tpu_inference/runner/tpu_runner.py
  tpu_inference/runner/utils.py
  tpu_inference/worker/tpu_worker.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @lsy323, @vanbasten23, @Lumosis

Remove JAX_RANDOM_WEIGHTS
  .buildkite/pipeline_jax.yml
  .buildkite/scripts/run_in_docker.sh
  tests/e2e/benchmarking/mlperf.sh
  tests/models/common/test_model_loader.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
  tpu_inference/platforms/tpu_platform.py
Owners: @jcyang43, @vipannalla, @hfan, @vanbasten23, @lsy323, @xiangxu-google

Remove JAX_RANDOM_WEIGHTS (#1017)
  .buildkite/pipeline_jax.yml
  .buildkite/scripts/run_in_docker.sh
  tests/e2e/benchmarking/mlperf.sh
  tests/models/common/test_model_loader.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
  tpu_inference/platforms/tpu_platform.py
Owners: @jcyang43, @vipannalla, @hfan, @vanbasten23, @lsy323, @xiangxu-google

[Llama4-Maverick/Optimization] Refactor: Standardize Sharding and Parallelism Configs in FFW/MoE Layers (#1067)
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

keep change
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

Modified sizes in the MockVllmConfig to avoid OOM
  tests/models/jax/test_llama_guard_4.py
Owners: @vipannalla

[Disagg] Fixes for vllm model impl disagg support (#1066)
  tpu_inference/core/core_tpu.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
Owners: @sixiang-google, @hfan, @vanbasten23, @lsy323

Ignore MoE test for now. (#1065)
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

Use the change from the latest unmerged pr
  tests/lora/test_layers.py
  tpu_inference/layers/vllm/sharding.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

Changed argument value in assert_called_once_with() call to avoid assertion error from model downsizing
  tests/models/jax/test_llama_guard_4.py
Owners: @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
  tpu_inference/runner/tpu_runner.py
Owners: @vipannalla, @py4, @xiangxu-google

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

multi-slice mesh
  tpu_inference/runner/tpu_runner.py
Owners: @py4, @xiangxu-google

wip
  baseline_async_log.txt
  baseline_log.txt
  dp_2_tp1_async_log.txt
  dp_2_tp1_log.txt
  dp_2_tp1_log_1.txt
  dp_2_tp1_log_2.txt
  dp_8_tp1_async_log.txt
  test_data_parallelism_correctness_log.txt
  torch_debug_log.txt
  unit_test.py
  unit_tests_log.txt
Owners: @vipannalla

wip
  tests/test_utils.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/utils.py
Owners: @vipannalla, @py4, @xiangxu-google

wip
  tpu_inference/utils.py
Owners: @vipannalla

wip
  tpu_inference/runner/kv_cache_manager.py
  tpu_inference/utils.py
Owners: @py4, @xiangxu-google, @vipannalla

wip
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

wip
  tpu_inference/runner/compilation_manager.py
Owners: @py4, @xiangxu-google

wip
  tpu_inference/utils.py
  tpu_inference/worker/tpu_worker.py
Owners: @vipannalla, @py4, @xiangxu-google, @lsy323, @vanbasten23

wip
  tests/test_utils.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/kv_cache_manager.py
  tpu_inference/utils.py
  tpu_inference/worker/tpu_worker.py
Owners: @vipannalla, @py4, @xiangxu-google, @lsy323, @vanbasten23

wip
  tpu_inference/utils.py
Owners: @vipannalla

wip
  tests/test_utils.py
  tpu_inference/utils.py
Owners: @vipannalla
