Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

wip
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @hfan, @vanbasten23, @lsy323, @py4, @xiangxu-google, @sixiang-google

Version - edit sharding in if is_scale
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

Worked Version - Quantization
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

Worked Verison passed all tests. Note: deepseek accuracy need verification
  tests/models/jax/test_llama4.py
  tpu_inference/layers/jax/transformer_block.py
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/configs/int8_default.yaml
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1

Worked Version - worked for llama4 maverick, llama4 scout, llama4 maverick fp8
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

Version - with error DFF under custom_module still qwix
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/configs/int8_default.yaml
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla

Worked Verison passed all tests. Note: Reverse int8_defualt.yaml
  tests/models/jax/test_llama4.py
  tpu_inference/models/jax/utils/quantization/configs/int8_default.yaml
Owners: @vipannalla

squash
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/configs/int8_default.yaml
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla

remove unused lines
  nohup.out
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla

with error AssertionError: Expected MoE weight 'layers.1.custom_module.kernel_down_proj_EFD' to be a quantized array (qarray).
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

keep
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

edit on comments
  tpu_inference/layers/jax/transformer_block.py
  tpu_inference/models/jax/llama4.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @vipannalla

Version - fix custom_module rule
  tpu_inference/layers/jax/transformer_block.py
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @vipannalla

Worked Version for deepseek
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla

run pre commit
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

fix _convert_torch_to_jax_with_view(self, loaded_weight: torch.Tensor
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

Revert "Add the bgmv tests" (#963)
  tests/lora/test_bgmv.py
Owners: @vipannalla

fix _convert_torch_to_jax_with_view() error
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

edit based on review
  tpu_inference/layers/jax/transformer_block.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

custom_module: Optional[nnx.Module] = None
  tpu_inference/layers/jax/transformer_block.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

match main
  nohup.out
  tests/lora/test_bgmv.py
Owners: @vipannalla

changes for all gather
  tpu_inference/layers/jax/transformer_block.py
  tpu_inference/models/jax/llama4.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @vipannalla

edit based on review
  tpu_inference/layers/jax/transformer_block.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

ok, the test passed. Need to make it simpler next.
  tests/lora/test_layers.py
  tpu_inference/lora/torch_punica_tpu.py
Owners: @vipannalla, @vanbasten23

cleaned up
  tests/lora/test_layers.py
Owners: @vipannalla

also check if the correct and the sharding is correct.
  tests/lora/test_layers.py
Owners: @vipannalla

now the test can run to completion.
  tests/lora/test_layers.py
  tpu_inference/runner/compilation_manager.py
Owners: @vipannalla, @py4, @xiangxu-google

ok. The case without lora passed.
  tests/lora/test_layers.py
Owners: @vipannalla

Save an initial version. Not capable of running at all.
  tests/lora/conftest.py
  tests/lora/test_layers.py
  tests/lora/utils.py
Owners: @vipannalla

ok, fixed the torchax.view.item() issue.
  tests/lora/test_layers.py
  tpu_inference/lora/torch_punica_tpu.py
Owners: @vipannalla, @vanbasten23

add multi-chip test case
  .buildkite/pipeline_jax.yml
  tests/lora/test_layers.py
Owners: @jcyang43, @vipannalla

fix the format
  tests/lora/test_layers.py
  tpu_inference/lora/torch_punica_tpu.py
  tpu_inference/runner/compilation_manager.py
Owners: @vipannalla, @vanbasten23, @py4, @xiangxu-google

clean up
  tests/lora/test_layers.py
Owners: @vipannalla

Add lora unit tests to the CI
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

update yml config for speculative decoding ngram
  .buildkite/features/Speculative_Decoding-_Ngram.yml
Owners: @jcyang43

Update yml config for speculative decoding ngram (#1020)
  .buildkite/features/Speculative_Decoding-_Ngram.yml
Owners: @jcyang43

refactored. The test still passed.
  tests/lora/test_layers.py
Owners: @vipannalla

async scheduler fix _substitute_placeholder_token_fn bug (#991)
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

Add async scheduler test to CI (#1010)
  .buildkite/features/async_scheduler.yml
Owners: @jcyang43

use sharded device put to handle multi host
  tpu_inference/layers/vllm/sharding.py
Owners: @hfan, @vanbasten23, @lsy323

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin
