Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

move subslice into tpu worker
  tpu_inference/worker/tpu_worker_jax.py
Owners: @py4, @xiangxu-google, @lsy323, @vanbasten23

PP on single host
  examples/offline_inference.py
  tpu_inference/distributed/jax_parallel_state.py
  tpu_inference/executors/ray_distributed_executor.py
  tpu_inference/layers/jax/pp_utils.py
  tpu_inference/layers/jax/sample/sampling.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/models/jax/jax_intermediate_tensor.py
  tpu_inference/models/jax/llama3.py
  tpu_inference/models/jax/utils/weight_utils.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
  tpu_inference/platforms/tpu_jax.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/persistent_batch_manager.py
  tpu_inference/runner/tpu_jax_runner.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323, @sixiang-google

fix torchas on pathways
  tpu_inference/kernels/ragged_paged_attention/v3/util.py
  tpu_inference/layers/vllm/sharding.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
Owners: @kyuyeunk, @yaochengji, @bythew3i, @hfan, @vanbasten23, @lsy323

Add lora layer tests (#981)
  .buildkite/pipeline_jax.yml
  tests/lora/conftest.py
  tests/lora/test_layers.py
  tests/lora/utils.py
  tpu_inference/lora/torch_punica_tpu.py
Owners: @jcyang43, @vipannalla, @vanbasten23

enable pp on torchax
  tpu_inference/models/vllm/vllm_model_wrapper.py
Owners: @hfan, @vanbasten23, @lsy323

[Refactor] Fix jax layers tests directory (#1050)
  tests/layers/jax/attention/test_common_attention.py
  tests/layers/jax/attention/test_deepseek_v3_attention.py
  tests/layers/jax/attention/test_llama4_attention.py
  tests/layers/jax/moe/test_deepseek_moe.py
  tests/layers/jax/sample/test_rejection_sampler.py
  tests/layers/jax/sample/test_sampling.py
  tests/layers/jax/sample/test_sampling_metadata.py
  tests/layers/jax/test_layers.py
  tests/layers/jax/test_rope.py
  tests/layers/jax/test_sharding.py
  tests/layers/jax/test_transformer_block.py
Owners: @vipannalla

fix
  tests/distributed/cpu_offloading_worker_test.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google

[TPU host offload] thread safe cpu backend cache ops (#1041)
  tpu_inference/distributed/local_cpu_backend.py
Owners: @mrjunwan-lang, @xiangxu-google

Version - edit sharding in if is_scale
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

Worked Version - worked for llama4 maverick, llama4 scout, llama4 maverick fp8
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

edit on comments
  tpu_inference/layers/jax/transformer_block.py
  tpu_inference/models/jax/llama4.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @vipannalla

squash
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/configs/int8_default.yaml
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla

Worked Version - Quantization
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

Worked Verison passed all tests. Note: Reverse int8_defualt.yaml
  tests/models/jax/test_llama4.py
  tpu_inference/models/jax/utils/quantization/configs/int8_default.yaml
Owners: @vipannalla

Worked Version for deepseek
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla

with error AssertionError: Expected MoE weight 'layers.1.custom_module.kernel_down_proj_EFD' to be a quantized array (qarray).
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

Worked Verison passed all tests. Note: deepseek accuracy need verification
  tests/models/jax/test_llama4.py
  tpu_inference/layers/jax/transformer_block.py
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/configs/int8_default.yaml
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1

remove unused lines
  nohup.out
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla

keep
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

Version - fix custom_module rule
  tpu_inference/layers/jax/transformer_block.py
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @vipannalla

Version - with error DFF under custom_module still qwix
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/configs/int8_default.yaml
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @vipannalla

Revert "Add the bgmv tests" (#963)
  tests/lora/test_bgmv.py
Owners: @vipannalla

fix _convert_torch_to_jax_with_view(self, loaded_weight: torch.Tensor
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

run pre commit
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

fix _convert_torch_to_jax_with_view() error
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

delete self
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

add comment on special handling is needed
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

comments on the diff between FUSED/UNFUSED
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

change _get_expect_num to _get_expert_num
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla

edit based on review
  tpu_inference/layers/jax/transformer_block.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

match main
  tests/lora/test_bgmv.py
Owners: @vipannalla

edit based on review
  tpu_inference/layers/jax/transformer_block.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

custom_module: Optional[nnx.Module] = None
  tpu_inference/layers/jax/transformer_block.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

pre-commit
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

match main
  nohup.out
  tests/lora/test_bgmv.py
Owners: @vipannalla

Revert "Add the bgmv tests" (#963)
  tests/lora/test_bgmv.py
Owners: @vipannalla

move convert_torch_to_jax_with_view to weights_utils
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla

[Llama4/JAX] Llama4 FP8 Quantized Weight Loading and Sharding (#962)
  tests/models/jax/test_llama4.py
  tpu_inference/layers/jax/transformer_block.py
  tpu_inference/models/jax/llama4.py
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1

[skip ci] Update nightly support matrices
  support_matrices/nightly/feature_support_matrix.csv
  support_matrices/nightly/model_support_matrix.csv
Owners: @vipannalla

[Bugfix] Fix attention interface unit test (#1048)
  tests/models/jax/test_attention_interface.py
Owners: @vipannalla

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin
