Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

wip
  tests/e2e/test_data_parallel.py
  tests/layers/jax/layers/test_sharding.py
Owners: @vipannalla

wip
  tpu_inference/core/sched/dp_scheduler.py
Owners: @sixiang-google

fix tests
  tests/runner/test_speculative_decoding_manager.py
  tests/runner/test_tpu_jax_runner.py
Owners: @vipannalla

fix test
  tests/layers/vllm/utils.py
Owners: @vipannalla

accomodate 2D mesh
  tests/e2e/test_data_parallel.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/models/jax/llama3.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google, @sixiang-google

fix tests
  tests/runner/test_multimodal_manager.py
Owners: @vipannalla

rebase
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

wip
  tpu_inference/layers/jax/sharding.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

formatting
  tests/core/test_dp_scheduler.py
Owners: @vipannalla

formatting
  tests/runner/test_kv_cache.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google, @sixiang-google

fix unit tests
  tests/models/common/test_model_loader.py
  tests/models/jax/test_attention_interface.py
  tests/models/jax/test_llama3.py
  tests/models/jax/test_llama4.py
  tests/models/jax/test_llama_eagle3.py
  tests/models/jax/test_phi3.py
  tests/models/jax/test_qwen2.py
  tests/models/jax/test_qwen2_5_vl.py
  tests/models/jax/test_qwen3.py
  tests/runner/test_kv_cache.py
  tests/runner/test_kv_cache_manager.py
  tests/runner/test_multimodal_manager.py
  tests/runner/test_speculative_decoding_manager.py
  tests/runner/test_tpu_jax_runner.py
  tests/test_quantization.py
  tests/worker/tpu_worker_jax_test.py
Owners: @vipannalla

wip
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

formatting
  tpu_inference/layers/jax/sharding.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

format
  tests/e2e/test_data_parallel.py
Owners: @vipannalla

formatting
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @hfan, @vanbasten23, @lsy323

fix test
  tests/runner/test_structured_decoding_manager.py
Owners: @vipannalla

revert changes to submit in another PR
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/layers/vllm/quantization/common.py
  tpu_inference/layers/vllm/quantization/unquantized.py
  tpu_inference/layers/vllm/sharding.py
  tpu_inference/models/jax/qwen2.py
  tpu_inference/models/jax/qwen3.py
Owners: @hfan, @vanbasten23, @lsy323, @vipannalla

wip
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

fix tests
  tests/layers/vllm/test_attention.py
Owners: @vipannalla

remove log
  tpu_inference/core/sched/dp_scheduler.py
Owners: @sixiang-google

wip
  tpu_inference/layers/jax/sharding.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

wip
  tests/layers/jax/layers/test_sharding.py
  tpu_inference/layers/jax/sharding.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1

new scheduler
  tests/core/test_dp_scheduler.py
  tpu_inference/core/sched/dp_scheduler.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @sixiang-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google

wip
  tpu_inference/core/sched/dp_scheduler.py
Owners: @sixiang-google

fix unit tests
  tpu_inference/worker/tpu_worker_jax.py
Owners: @py4, @xiangxu-google, @lsy323, @vanbasten23

wip
  tests/e2e/test_async_scheduler.py
Owners: @vipannalla

revert torchax change
  tpu_inference/models/vllm/vllm_model_wrapper.py
Owners: @hfan, @vanbasten23, @lsy323

wip
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

wip
  tpu_inference/layers/jax/sharding.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

update sharding
  tpu_inference/layers/jax/transformer_block.py
  tpu_inference/models/jax/llama4.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @vipannalla

Very initial code to merge the GMM calls into one. Need to more carefully do this in the modeling code because it is leading to OOM with naive attempt.
  tpu_inference/layers/jax/moe/deepseek_v3_moe.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

Update v7's jax requirements
  requirements_v7x.txt
Owners: @vipannalla

address comments
  tpu_inference/layers/vllm/quantization/compressed_tensors/compressed_tensors.py
  tpu_inference/layers/vllm/quantization/compressed_tensors/compressed_tensors_moe.py
Owners: @hfan, @vanbasten23, @lsy323

[Torchax] Add attention sink support in torchax
  tests/layers/vllm/test_attention.py
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/vllm/attention.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323

Initial changes to try out einsum instead of ragged_dot in the current optimized code.
  tpu_inference/layers/jax/moe/deepseek_v3_moe.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

[Torchax] Add attention sink support in torchax (#1038)
  tests/layers/vllm/test_attention.py
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/vllm/attention.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323

[TPU host offoad] fix pin/unpin cpu backend keys logic (#1025)
  tests/distributed/local_cpu_backend_test.py
  tpu_inference/distributed/local_cpu_backend.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google

thread safe cpu backend cache ops
  tpu_inference/distributed/local_cpu_backend.py
Owners: @mrjunwan-lang, @xiangxu-google

[skip ci] Update nightly support matrices
  support_matrices/nightly/feature_support_matrix.csv
  support_matrices/nightly/model_support_matrix.csv
Owners: @vipannalla

For debugging moe kernel
  tpu_inference/layers/vllm/quantization/unquantized.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
Owners: @hfan, @vanbasten23, @lsy323

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin
