Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin

wip
  tpu_inference/utils.py
Owners: @vipannalla

wip
  baseline_async_log.txt
  baseline_log.txt
  dp_2_tp1_async_log.txt
  dp_2_tp1_log.txt
  dp_2_tp1_log_1.txt
  dp_2_tp1_log_2.txt
  dp_8_tp1_async_log.txt
  test_data_parallelism_correctness_log.txt
  torch_debug_log.txt
  unit_test.py
  unit_tests_log.txt
Owners: @vipannalla

also added the test for ReplicatedLinearWithLoRA
  tests/lora/test_layers.py
  tpu_inference/layers/vllm/sharding.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

[Feature] Add automated PyPI publishing workflow
  .github/scripts/determine_release_vars.sh
  .github/workflows/release.yml
  MANIFEST.in
Owners: @jcyang43, @vipannalla

Add buildkite-test-collector for testsuite setup
  .buildkite/scripts/run_in_docker.sh
Owners: @jcyang43

[Bug fix] Pathways HBM calculation with DP enabled + Async scheduler precompilation (#1072)
  tests/test_utils.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/utils.py
Owners: @vipannalla, @py4, @xiangxu-google

fix typo
  tpu_inference/layers/vllm/sharding.py
Owners: @hfan, @vanbasten23, @lsy323

Fix typo in VLLM_TPU_USING_PATHWAYS flag (#1074)
  tpu_inference/layers/vllm/sharding.py
Owners: @hfan, @vanbasten23, @lsy323

rollback changes made by presubmit
  tpu_inference/layers/jax/rope.py
  tpu_inference/models/jax/deepseek_v3.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

[DeepSeek] Optimize RoPE Cache to remove re-layout
  tpu_inference/layers/jax/rope.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

[DeepSeek] Optimize RoPE Cache to remove re-layout (#1073)
  tpu_inference/layers/jax/rope.py
  tpu_inference/models/jax/deepseek_v3.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

update sharding to support pure 2d TP
  tpu_inference/models/jax/deepseek_v3.py
Owners: @bzgoogle

Fix dtype bug of weight_loading. It not only occurs for sparsematmul, but densematmul
  tpu_commons/models/jax/common/moe/deepseek_moe.py
  tpu_inference/models/jax/deepseek_v3.py
Owners: @vipannalla, @bzgoogle

add unit test; add flag to support switching between dense/sparse matmul
  tests/models/jax/common/moe/test_deepseek_moe.py
Owners: @vipannalla

Implement the SparseMatmul for DeepSeek
  tpu_commons/models/jax/common/moe/deepseek_moe.py
Owners: @vipannalla

update layer to full
  tpu_inference/models/jax/deepseek_v3.py
Owners: @bzgoogle

local change to support 2d TP for DeepSeek
  tpu_commons/models/jax/common/moe/deepseek_moe.py
  tpu_inference/layers/jax/attention/deepseek_v3_attention.py
  tpu_inference/layers/jax/moe/moe.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/models/jax/deepseek_v3.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/kv_cache.py
  tpu_inference/runner/kv_cache_manager.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google

address some comments
  tests/models/jax/common/moe/test_deepseek_moe.py
  tpu_commons/models/jax/common/moe/deepseek_moe.py
Owners: @vipannalla

[JAX][Quantization] Add Qwix support for SparseMatul (#740)
  tests/models/jax/common/moe/test_deepseek_moe.py
  tpu_commons/models/jax/common/moe/deepseek_moe.py
Owners: @vipannalla

bug fix after rebase
  tpu_inference/layers/jax/moe/deepseek_v3_moe.py
  tpu_inference/models/jax/deepseek_v3.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

fix bug after rebase
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/kv_cache.py
  tpu_inference/runner/tpu_runner.py
Owners: @py4, @xiangxu-google

Fix rebase errors
  tpu_inference/runner/tpu_runner.py
Owners: @py4, @xiangxu-google

[CI] Introduce a default features to pre-set 'pass' status in the support matrix (#1026)
  .buildkite/features/Chunked_Prefill.yml
  .buildkite/features/JAX-Path_Qxix_Quantization.yml
  .buildkite/features/Prefix_Caching.yml
  .buildkite/features/Quantized_Matmul_Attention_and_KV_Cache.yml
  .buildkite/features/Ragged_Paged_Attention_V3.yml
  .buildkite/features/Single_Program_Multi_Data.yml
  .buildkite/features/default_features.txt
  .buildkite/scripts/generate_support_matrices.sh
Owners: @jcyang43

fix: correct environment variable type conversions and improve comments
  tpu_inference/envs.py
Owners: @vipannalla

Resolve conflicts
  tests/worker/tpu_worker_test.py
Owners: @vipannalla

Use envs.USE_MOE_EP_KERNEL instead of direct os.getenv
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @hfan, @vanbasten23, @lsy323

Fix profiler directory env var reference and update tests
  tests/worker/tpu_worker_test.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/platforms/tpu_platform.py
  tpu_inference/worker/tpu_worker.py
Owners: @vipannalla, @xiangxu-google, @lsy323, @py4, @vanbasten23

Remove unused JAX_RANDOM_WEIGHTS environment variable
  tpu_inference/envs.py
Owners: @vipannalla

wip
  tpu_inference/worker/tpu_worker.py
Owners: @py4, @xiangxu-google, @lsy323, @vanbasten23

[BUG FIX] Fix device order enforcement (#1076)
  tpu_inference/worker/tpu_worker.py
Owners: @py4, @xiangxu-google, @lsy323, @vanbasten23

Fix rebase errors
  tpu_inference/models/jax/deepseek_v3.py
Owners: @bzgoogle

Fix rebase errors
  tpu_inference/models/common/model_loader.py
Owners: @vipannalla

Fix rebase errors
  tpu_inference/platforms/tpu_platform.py
Owners: @xiangxu-google, @lsy323

enable pp on jax models
  tpu_inference/layers/jax/pp_utils.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/models/jax/llama3.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @vipannalla

enable pp on ray
  tpu_inference/executors/ray_distributed_executor.py
Owners: @xiangxu-google, @mrjunwan-lang

bump jax version to 0.8
  docker/Dockerfile
  requirements.txt
Owners: @jrplatin, @vipannalla

[Feature] Add automated PyPI publishing workflow (#985)
  .github/scripts/determine_release_vars.sh
  .github/workflows/release.yml
  MANIFEST.in
Owners: @jcyang43, @vipannalla

[GPT OSS] Add support for both BF16 and MXFP4
  tpu_inference/models/jax/gpt_oss.py
  tpu_inference/models/jax/utils/quantization/mxfp4_utils.py
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @bzgoogle, @vipannalla

Relaxing reshape ops using vmap
  tpu_inference/kernels/quantized_matmul/kernel.py
  tpu_inference/kernels/quantized_matmul/tuned_block_sizes.py
  tpu_inference/layers/vllm/linear_common.py
  tpu_inference/models/jax/qwen3.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @kyuyeunk, @yaochengji, @bythew3i, @hfan, @vanbasten23, @lsy323, @vipannalla

[GPT-OSS] Add sharding configs to support Qwix quantization
  tpu_inference/models/jax/gpt_oss.py
Owners: @bzgoogle
