Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

PP on single host
  examples/offline_inference.py
  tpu_inference/distributed/jax_parallel_state.py
  tpu_inference/distributed/utils.py
  tpu_inference/executors/ray_distributed_executor.py
  tpu_inference/layers/jax/pp_utils.py
  tpu_inference/layers/jax/sample/sampling.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/models/jax/jax_intermediate_tensor.py
  tpu_inference/models/jax/llama3.py
  tpu_inference/models/jax/utils/weight_utils.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
  tpu_inference/platforms/tpu_jax.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/input_batch_jax.py
  tpu_inference/runner/persistent_batch_manager.py
  tpu_inference/runner/tpu_jax_runner.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323, @sixiang-google

ray
  tpu_inference/executors/ray_distributed_executor.py
Owners: @xiangxu-google, @mrjunwan-lang

clean up
  tests/lora/test_layers.py
Owners: @vipannalla

wip
  tpu_inference/core/sched/dp_scheduler.py
Owners: @sixiang-google

squash
  .buildkite/pipeline_jax.yml
  tests/core/test_dp_scheduler.py
  tests/e2e/test_data_parallel.py
  tests/layers/jax/layers/attention/test_common_attention.py
  tests/layers/jax/layers/test_sharding.py
  tests/runner/test_tpu_jax_runner_dp.py
  tpu_inference/core/sched/__init__.py
  tpu_inference/core/sched/dp_scheduler.py
  tpu_inference/layers/jax/attention/attention.py
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/jax/sample/sampling.py
  tpu_inference/layers/jax/sample/sampling_metadata.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/layers/vllm/quantization/common.py
  tpu_inference/layers/vllm/quantization/unquantized.py
  tpu_inference/layers/vllm/sharding.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/models/jax/llama3.py
  tpu_inference/models/jax/qwen2.py
  tpu_inference/models/jax/qwen3.py
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
  tpu_inference/platforms/tpu_jax.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/kv_cache.py
  tpu_inference/runner/kv_cache_manager.py
  tpu_inference/runner/tpu_jax_runner.py
  tpu_inference/utils.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @jcyang43, @vipannalla, @sixiang-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323, @xiangxu-google

wip
  tpu_inference/core/sched/dp_scheduler.py
Owners: @sixiang-google

new scheduler
  tests/core/test_dp_scheduler.py
  tpu_inference/core/sched/dp_scheduler.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @sixiang-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google

format
  tests/e2e/test_data_parallel.py
Owners: @vipannalla

rm slicing for full_prefix_hit
  tpu_inference/distributed/tpu_connector_local.py
Owners: @mrjunwan-lang, @xiangxu-google

Fix test
  tests/layers/vllm/test_attention.py
Owners: @vipannalla

Fix kv cache shape for head_dim=64
  tpu_inference/runner/kv_cache.py
Owners: @py4, @xiangxu-google

[RPA] Update attention_sink to use prepare_inputs
  tests/kernels/ragged_paged_attention_kernel_v3_hd64_test.py
  tpu_inference/kernels/ragged_paged_attention/v3/kernel_hd64.py
Owners: @vipannalla, @kyuyeunk, @yaochengji, @bythew3i

[Misc] Remove unused interfaces
  tests/adapters/vllm_adapters_test.py
  tests/core/test_adapters.py
  tests/core/test_core_tpu.py
  tests/di/test_host.py
  tests/tpu_backend_test.py
  tests/worker/base_test.py
  tests/worker/tpu_worker_jax_test.py
  tpu_inference/adapters/__init__.py
  tpu_inference/adapters/vllm_adapters.py
  tpu_inference/adapters/vllm_config_adapters.py
  tpu_inference/backend.py
  tpu_inference/core/adapters.py
  tpu_inference/core/core_tpu.py
  tpu_inference/di/__init__.py
  tpu_inference/di/abstracts.py
  tpu_inference/di/host.py
  tpu_inference/di/interfaces.py
  tpu_inference/interfaces/__init__.py
  tpu_inference/interfaces/cache.py
  tpu_inference/interfaces/config.py
  tpu_inference/interfaces/config_parts.py
  tpu_inference/interfaces/engine.py
  tpu_inference/interfaces/outputs.py
  tpu_inference/interfaces/params.py
  tpu_inference/interfaces/platform.py
  tpu_inference/interfaces/request.py
  tpu_inference/interfaces/scheduler.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/platforms/tpu_jax.py
  tpu_inference/worker/_temporary_vllm_compat.py
  tpu_inference/worker/base.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @vipannalla, @sixiang-google, @xiangxu-google, @lsy323, @py4, @vanbasten23

[Misc] Attempt to fix hash mismatch in CI if it's because of incomplete download
  docker/Dockerfile
Owners: @jrplatin

[Misc] Attempt to fix hash mismatch in CI if it's because of incomplete download (#994)
  docker/Dockerfile
Owners: @jrplatin

[Misc] Only run JAX unit tests and few e2e tests for each PR in CI.
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

block-wise swap-in and out
  tpu_inference/distributed/local_cpu_backend.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @mrjunwan-lang, @xiangxu-google

integrate kernel
  tests/kernels/fused_moe_v1_test.py
  tests/layers/vllm/test_unquantized.py
  tpu_inference/kernels/fused_moe/v1/kernel.py
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @vipannalla, @kyuyeunk, @yaochengji, @bythew3i, @hfan, @vanbasten23, @lsy323

[RPA] Update attention_sink to use prepare_inputs (#993)
  tests/kernels/ragged_paged_attention_kernel_v3_hd64_test.py
  tpu_inference/kernels/ragged_paged_attention/v3/kernel_hd64.py
Owners: @vipannalla, @kyuyeunk, @yaochengji, @bythew3i

[Misc] Only run JAX unit tests and few e2e tests for each PR in CI. (#995)
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

[Misc] Remove unused interfaces (#990)
  tests/adapters/vllm_adapters_test.py
  tests/core/test_adapters.py
  tests/core/test_core_tpu.py
  tests/di/test_host.py
  tests/tpu_backend_test.py
  tests/worker/base_test.py
  tests/worker/tpu_worker_jax_test.py
  tpu_inference/adapters/__init__.py
  tpu_inference/adapters/vllm_adapters.py
  tpu_inference/adapters/vllm_config_adapters.py
  tpu_inference/backend.py
  tpu_inference/core/adapters.py
  tpu_inference/core/core_tpu.py
  tpu_inference/di/__init__.py
  tpu_inference/di/abstracts.py
  tpu_inference/di/host.py
  tpu_inference/di/interfaces.py
  tpu_inference/interfaces/__init__.py
  tpu_inference/interfaces/cache.py
  tpu_inference/interfaces/config.py
  tpu_inference/interfaces/config_parts.py
  tpu_inference/interfaces/engine.py
  tpu_inference/interfaces/outputs.py
  tpu_inference/interfaces/params.py
  tpu_inference/interfaces/platform.py
  tpu_inference/interfaces/request.py
  tpu_inference/interfaces/scheduler.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/platforms/tpu_jax.py
  tpu_inference/worker/_temporary_vllm_compat.py
  tpu_inference/worker/base.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @vipannalla, @sixiang-google, @xiangxu-google, @lsy323, @py4, @vanbasten23

[Misc] Fix buildkite yaml format.
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

[Misc] Fix buildkite yaml format. (#997)
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

Update README.md
  README.md
Owners: @bvrockwell

Update README.md (#998)
  README.md
Owners: @bvrockwell

Fix kv cache shape for head_dim=64 (#976)
  tests/layers/vllm/test_attention.py
  tpu_inference/runner/kv_cache.py
Owners: @vipannalla, @py4, @xiangxu-google

block-wise swap-in and out
  tpu_inference/distributed/local_cpu_backend.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @mrjunwan-lang, @xiangxu-google

a
  autotune_table.txt
  nohup.out
  tpu_inference/kernels/ragged_paged_attention/v3/a.py
  tpu_inference/kernels/ragged_paged_attention/v3/autotune.py
  tpu_inference/kernels/ragged_paged_attention/v3/benchmark.py
  tpu_inference/kernels/ragged_paged_attention/v3/kernel_og.py
  tpu_inference/kernels/ragged_paged_attention/v3/multi_table.py
  tpu_inference/kernels/ragged_paged_attention/v3/tuned_block_sizes.py
Owners: @vipannalla, @kyuyeunk, @yaochengji, @bythew3i

a2
  tmp.txt
  tpu_inference/kernels/ragged_paged_attention/v3/benchmark.py
  tpu_inference/kernels/ragged_paged_attention/v3/tunetable.txt
Owners: @vipannalla, @kyuyeunk, @yaochengji, @bythew3i

1. scheduler decides blocks to load / save; 2. save_behavior: drop, pad, dynamic; 3. encore block-sized save and load
  tests/distributed/test_cache_util.py
  tpu_inference/distributed/cache_util.py
  tpu_inference/distributed/local_cpu_backend.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google

test pre-commit
  .pre-commit-config.yaml
  __init__.py
  examples/__init__.py
  examples/disagg/__init__.py
  scripts/__init__.py
  scripts/vllm/__init__.py
  scripts/vllm/benchmarking/__init__.py
  tpu_commons/kernels/collectives/__init__.py
  tpu_commons/models/vllm/quantization/compressed_tensors/__init__.py
  tpu_commons/models/vllm/quantization/compressed_tensors/schemes/__init__.py
Owners: @vipannalla

Async scheduler CI tests
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

a3
  tpu_inference/kernels/ragged_paged_attention/v3/benchmark.py
  tpu_inference/kernels/ragged_paged_attention/v3/tuned_block_sizes.py
Owners: @kyuyeunk, @yaochengji, @bythew3i

add precommit hook for detecting missing __init__.py files
  .pre-commit-config.yaml
  tpu_inference/kernels/fused_moe/__init__.py
  tpu_inference/kernels/fused_moe/v1/__init__.py
Owners: @vipannalla, @kyuyeunk, @yaochengji, @bythew3i

Add precommit hook for detecting missing __init__.py files (#1001)
  .pre-commit-config.yaml
  tpu_inference/kernels/fused_moe/__init__.py
  tpu_inference/kernels/fused_moe/v1/__init__.py
Owners: @vipannalla, @kyuyeunk, @yaochengji, @bythew3i

nit
  tpu_inference/distributed/tpu_connector_local.py
Owners: @mrjunwan-lang, @xiangxu-google

fix grid size calculation in qwen2.5-vl warmup
  tpu_inference/models/jax/qwen2_5_vl.py
Owners: @hfan, @KWang1998

[Runner] Separate execute_model and sample_tokens to adapt upstream change.
  tpu_inference/runner/structured_decoding_manager.py
  tpu_inference/runner/tpu_jax_runner.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @py4, @xiangxu-google, @sixiang-google, @lsy323, @vanbasten23

Fix grid size calculation in qwen2.5-vl vision encoder warmup (#1004)
  tpu_inference/models/jax/qwen2_5_vl.py
Owners: @hfan, @KWang1998

[Runner] Separate execute_model and sample_tokens to adapt upstream change. (#1003)
  tpu_inference/runner/structured_decoding_manager.py
  tpu_inference/runner/tpu_jax_runner.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @py4, @xiangxu-google, @sixiang-google, @lsy323, @vanbasten23

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin
