Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

[GPT-OSS] Separate expert sum to not quantize with Qwix
  tpu_inference/layers/jax/moe/gpt_oss_moe.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

Creating a small test for vmap
  tpu_inference/kernels/quantized_matmul/vmap_test.py
Owners: @kyuyeunk, @yaochengji, @bythew3i

[DO NOT SUBMIT] Enable hybird kv cache manager
  tpu_inference/platforms/tpu_platform.py
Owners: @xiangxu-google, @lsy323

[DO NOT SUBMIT] Update new moe kernel with bias
  tpu_inference/kernels/fused_moe/v1/kernel.py
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @kyuyeunk, @yaochengji, @bythew3i, @hfan, @vanbasten23, @lsy323

[DO NOT SUBMIT] sliding window optimization
  tpu_inference/kernels/ragged_paged_attention/v3/kernel_hd64.py
Owners: @kyuyeunk, @yaochengji, @bythew3i

Centralized environment variables (#1058)
  tests/worker/tpu_worker_test.py
  tpu_inference/envs.py
  tpu_inference/layers/vllm/quantization/unquantized.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/platforms/tpu_platform.py
  tpu_inference/worker/tpu_worker.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323, @xiangxu-google, @py4

Created new thread to collect forward-pass timing information and write to json file. Will confirm that e2e results are the similar with or without this logic.
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

[FusedMoE] Add support for sigmoid scoring function
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @hfan, @vanbasten23, @lsy323

Working draft of quantized 2d matmul kernel
  tests/kernels/pate_test.py
  tpu_inference/kernels/quantized_matmul/pate_kernel.py
  tpu_inference/kernels/quantized_matmul/pate_reference.py
Owners: @vipannalla, @kyuyeunk, @yaochengji, @bythew3i

[skip ci] Update nightly support matrices
  support_matrices/nightly/feature_support_matrix.csv
  support_matrices/nightly/model_support_matrix.csv
Owners: @vipannalla

Remove use of VLLM_USE_V1.
  .buildkite/scripts/run_in_docker.sh
  scripts/vllm/integration/test_accuracy.py
  tests/executors/test_ray_distributed_executor.py
  tpu_inference/executors/ray_distributed_executor.py
  tpu_inference/mock/vllm_envs.py
  tpu_inference/platforms/tpu_platform.py
Owners: @jcyang43, @vipannalla, @xiangxu-google, @mrjunwan-lang, @lsy323

Remove use of VLLM_USE_V1. (#1083)
  .buildkite/scripts/run_in_docker.sh
  scripts/vllm/integration/test_accuracy.py
  tests/executors/test_ray_distributed_executor.py
  tpu_inference/executors/ray_distributed_executor.py
  tpu_inference/mock/vllm_envs.py
  tpu_inference/platforms/tpu_platform.py
Owners: @jcyang43, @vipannalla, @xiangxu-google, @mrjunwan-lang, @lsy323

Adding the test test_lm_head_logits_processor but it is failing with some torchax error.
  tests/lora/test_layers.py
  tpu_inference/layers/vllm/sharding.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

Added some comments
  tests/lora/test_layers.py
  tpu_inference/layers/vllm/sharding.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

[CI] fix bug from RoPE
  tpu_inference/models/jax/deepseek_v3.py
Owners: @bzgoogle

[CI] fix bug from RoPE (#1084)
  tpu_inference/models/jax/deepseek_v3.py
Owners: @bzgoogle

fix tensor type check in convert_to_torchax_and_shard
  tpu_inference/layers/vllm/sharding.py
Owners: @hfan, @vanbasten23, @lsy323

fix format
  tpu_inference/layers/vllm/sharding.py
Owners: @hfan, @vanbasten23, @lsy323

Fix tensor type check in convert_to_torchax_and_shard (#1085)
  tpu_inference/layers/vllm/sharding.py
Owners: @hfan, @vanbasten23, @lsy323

implement runai model streamer for MODEL_IMPL_TYPE=flax_nnx
  .buildkite/features/runai_model_streamer_loader.yml
  requirements.txt
  tests/e2e/test_runai_model_streamer_loader.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/models/jax/utils/weight_utils.py
Owners: @jcyang43, @vipannalla

Create Utils functions for PP (#1042)
  tpu_inference/distributed/jax_parallel_state.py
  tpu_inference/models/jax/jax_intermediate_tensor.py
Owners: @mrjunwan-lang, @xiangxu-google, @vipannalla

only init pp transfer connect when pp > 1
  tpu_inference/executors/ray_distributed_executor.py
Owners: @xiangxu-google, @mrjunwan-lang

Fix Ray errors
  tpu_inference/executors/ray_distributed_executor.py
Owners: @xiangxu-google, @mrjunwan-lang

Fix Ray errors
  tpu_inference/runner/tpu_runner.py
Owners: @py4, @xiangxu-google

Added integration tests and performance benchmarks to buildkite yml file and replaced the model_loader registry key name for Llama Guard 4 with a recognized text only model
  .buildkite/models/meta-llama_Llama-Guard-4-12B.yml
  examples/offline_llama_guard_4_inference.py
  tests/e2e/benchmarking/llama_guard_perf_recipe.sh
  tests/e2e/benchmarking/test_llama_guard_4_accuracy.sh
  tpu_inference/models/common/model_loader.py
Owners: @jcyang43, @vipannalla

upgrade jax version
  requirements.txt
Owners: @vipannalla

[skip ci] Update nightly support matrices
  support_matrices/nightly/feature_support_matrix.csv
  support_matrices/nightly/model_support_matrix.csv
Owners: @vipannalla

Changed serve command to use JAX model instead of Torchax model
  tests/e2e/benchmarking/llama_guard_perf_recipe.sh
Owners: @vipannalla

staging buffer manager v1
  tpu_inference/distributed/tpu_connector_local.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @mrjunwan-lang, @xiangxu-google, @py4, @lsy323, @vanbasten23

Add email alerts on build failure
  .buildkite/main.yml
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

Add buildkite-test-collector for testsuite setup (#1033)
  .buildkite/scripts/run_in_docker.sh
Owners: @jcyang43

Add email alerts to buildkite pipelines (#1030)
  .buildkite/main.yml
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

Skip size calculation during async copy wait=True
  tpu_inference/kernels/ragged_paged_attention/v3/kernel.py
  tpu_inference/kernels/ragged_paged_attention/v3/kernel_hd64.py
Owners: @kyuyeunk, @yaochengji, @bythew3i

[CI] fix tests
  tests/layers/jax/attention/test_deepseek_v3_attention.py
  tests/layers/jax/test_rope.py
Owners: @vipannalla

fix lint error
  tests/layers/jax/test_rope.py
Owners: @vipannalla

[GPT-OSS] applying optimization on JAX
  tpu_inference/layers/jax/attention/gpt_oss_attention.py
  tpu_inference/layers/jax/moe/gpt_oss_moe.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/models/jax/deepseek_v3.py
  tpu_inference/models/jax/gpt_oss.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @vipannalla

[GPT-OSS] Load MXFP4 and BF16 weights directly and enable online requantization (#992)
  tpu_inference/layers/jax/moe/gpt_oss_moe.py
  tpu_inference/models/jax/gpt_oss.py
  tpu_inference/models/jax/utils/quantization/mxfp4_utils.py
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @vipannalla

delete duplicate line
  tpu_inference/layers/jax/transformer_block.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1

Upgrade jax version to 0.8.0 (#1087)
  requirements.txt
Owners: @vipannalla

Code clean up
  examples/offline_llama_guard_4_inference.py
  tests/e2e/benchmarking/llama_guard_perf_recipe.sh
Owners: @vipannalla

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin
