Repository vllm-project/tpu-inference, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vipannalla, @jcyang43, @bvrockwell, @jrplatin, @mrjunwan-lang, @xiangxu-google, @kyuyeunk, @yaochengji, @bythew3i, @py4, @bzgoogle, @gpolovets1, @hfan, @vanbasten23, @lsy323, @KWang1998, @sixiang-google, @Lumosis

.github/CODEOWNERS:

# CODEOWNERS file for tpu-inference
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Owners are notified when PRs modify code in their areas.
#
# Order matters - the last matching pattern takes precedence.
# Analysis includes full history from tpu_commons and tpu_inference paths.

# Default owners for everything in the repo (fallback)
* @vipannalla

# CI/CD and Build Configuration
/.buildkite/ @jcyang43
/.github/ @jcyang43

# Documentation
/docs/ @bvrockwell
/README.md @bvrockwell
/CONTRIBUTING.md @jrplatin @bvrockwell

# Distributed Computing
/tpu_inference/distributed/ @mrjunwan-lang @xiangxu-google

# Kernel Implementations (Performance-critical)
/tpu_inference/kernels/ @kyuyeunk @yaochengji @bythew3i

# JAX Model Layers - Attention
/tpu_inference/layers/jax/ @py4 @bzgoogle @jrplatin @gpolovets1
/tpu_inference/layers/vllm/ @hfan @vanbasten23 @lsy323

# JAX Model Implementations
/tpu_inference/models/jax/qwen2_5_vl.py @hfan @KWang1998
/tpu_inference/models/jax/gpt_oss.py @bzgoogle
/tpu_inference/models/jax/deepseek_v3.py @bzgoogle
/tpu_inference/models/vllm/ @hfan @vanbasten23 @lsy323

# Runner and Execution
/tpu_inference/runner/ @py4 @xiangxu-google
/tpu_inference/runner/tpu_jax_runner.py @py4 @xiangxu-google @sixiang-google
/tpu_inference/runner/persistent_batch_manager.py @py4 @xiangxu-google
/tpu_inference/runner/speculative_decoding_manager.py @py4 @Lumosis
/tpu_inference/executors/ @xiangxu-google @mrjunwan-lang
/tpu_inference/core/ @sixiang-google

# Worker Management
/tpu_inference/worker/ @py4 @xiangxu-google @lsy323 @vanbasten23

# Speculative Decoding
/tpu_inference/spec_decode/ @py4 @Lumosis

# Platform Support
/tpu_inference/platforms/ @xiangxu-google @lsy323

# LoRA and Adapters
/tpu_inference/lora/ @vanbasten23
/tpu_inference/runner/lora_utils.py @vanbasten23

# Docker Configuration
/docker/ @jrplatin

new scheduler
  tests/core/test_dp_scheduler.py
  tpu_inference/core/sched/dp_scheduler.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @sixiang-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google

squash
  .buildkite/pipeline_jax.yml
  tests/core/test_dp_scheduler.py
  tests/e2e/test_data_parallel.py
  tests/layers/jax/layers/attention/test_common_attention.py
  tests/layers/jax/layers/test_sharding.py
  tests/runner/test_tpu_jax_runner_dp.py
  tpu_inference/core/sched/__init__.py
  tpu_inference/core/sched/dp_scheduler.py
  tpu_inference/layers/jax/attention/attention.py
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/jax/sample/sampling.py
  tpu_inference/layers/jax/sample/sampling_metadata.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/layers/vllm/quantization/common.py
  tpu_inference/layers/vllm/quantization/unquantized.py
  tpu_inference/layers/vllm/sharding.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/models/jax/llama3.py
  tpu_inference/models/jax/qwen2.py
  tpu_inference/models/jax/qwen3.py
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
  tpu_inference/platforms/tpu_jax.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/kv_cache.py
  tpu_inference/runner/kv_cache_manager.py
  tpu_inference/runner/tpu_jax_runner.py
  tpu_inference/utils.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @jcyang43, @vipannalla, @sixiang-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323, @xiangxu-google

wip
  tpu_inference/core/sched/dp_scheduler.py
Owners: @sixiang-google

wip
  tpu_inference/runner/tpu_jax_runner.py
Owners: @py4, @xiangxu-google, @sixiang-google

wip
  tests/layers/jax/layers/test_sharding.py
  tpu_inference/layers/jax/sharding.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1

wip
  tests/e2e/test_data_parallel.py
  tests/layers/jax/layers/test_sharding.py
Owners: @vipannalla

wip
  tests/layers/vllm/utils.py
Owners: @vipannalla

fix pin/unpin cpu backend keys logic
  tests/distributed/local_cpu_backend_test.py
  tpu_inference/distributed/local_cpu_backend.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google

prepare precompile functions for tpu local connector
  examples/gke/pod_tpu_host_offload_unit_tests.yaml
  tests/distributed/host_offloading_precompile_test.py
  tpu_inference/distributed/tpu_connector_local.py
Owners: @vipannalla, @mrjunwan-lang, @xiangxu-google

Fixes for qwen3 moe
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/layers/vllm/quantization/common.py
  tpu_inference/layers/vllm/quantization/unquantized.py
  tpu_inference/layers/vllm/sharding.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/kv_cache.py
  tpu_inference/runner/tpu_jax_runner.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323, @xiangxu-google, @sixiang-google

Add kernel support for arbitrary mesh rank
  tpu_inference/kernels/fused_moe/v1/kernel.py
Owners: @kyuyeunk, @yaochengji, @bythew3i

Optimize ragged all to all
  tpu_inference/layers/vllm/fused_moe.py
Owners: @hfan, @vanbasten23, @lsy323

fix sharding
  tpu_inference/layers/vllm/quantization/common.py
Owners: @hfan, @vanbasten23, @lsy323

Use MoE kernel tile for qwen3 235b
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @hfan, @vanbasten23, @lsy323

[skip ci] Update nightly support matrices
  support_matrices/nightly/feature_support_matrix.csv
  support_matrices/nightly/model_support_matrix.csv
Owners: @vipannalla

fix(docs): fix dead links in multiple documentation pages
  docs/developer_guides/torchax_model_development.md
Owners: @bvrockwell

Add instruction to set up pre-commit hooks.
  CONTRIBUTING.md
Owners: @jrplatin, @bvrockwell

The ColumnParallelLinear test passed
  tests/lora/test_layers.py
  tpu_inference/layers/vllm/sharding.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

Refactor the vision encoder and push down the jax.jit
  tpu_inference/models/jax/qwen2_5_vl.py
Owners: @hfan, @KWang1998

use sharded device put to handle torchax on multi host (#1031)
  tpu_inference/layers/vllm/sharding.py
Owners: @hfan, @vanbasten23, @lsy323

update execute_model use according to upstream
  tpu_inference/core/core_tpu.py
Owners: @sixiang-google

Finally fix the test.
  tests/lora/test_layers.py
  tpu_inference/layers/vllm/quantization/unquantized.py
Owners: @vipannalla, @hfan, @vanbasten23, @lsy323

Narrowing down on the discrepancy between HF and JAX. Seems to be einsum operation in Llama4VisionAttention
  .gitignore
  input_generator.py
  jax_execution.py
  tpu_inference/layers/jax/attention/llama4_attention.py
  tpu_inference/layers/jax/rope_interface.py
  tpu_inference/models/jax/llama4.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1

[Disagg] update execute_model use according to upstream (#1032)
  tpu_inference/core/core_tpu.py
Owners: @sixiang-google

wip
  tests/e2e/test_async_scheduler.py
Owners: @vipannalla

wip
  tests/layers/jax/layers/test_sharding.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google, @sixiang-google

fix test
  tests/runner/test_tpu_jax_runner_dp.py
Owners: @vipannalla

wip
  .buildkite/pipeline_jax.yml
Owners: @jcyang43

more tests
  tests/runner/test_tpu_jax_runner_dp.py
  tpu_inference/runner/compilation_manager.py
Owners: @vipannalla, @py4, @xiangxu-google

wip
  tpu_inference/layers/vllm/quantization/common.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @hfan, @vanbasten23, @lsy323, @py4, @xiangxu-google, @sixiang-google

wip
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/runner/tpu_jax_runner.py
Owners: @hfan, @vanbasten23, @lsy323, @py4, @xiangxu-google, @sixiang-google

fix tests
  tests/layers/jax/layers/test_sharding.py
  tpu_inference/layers/jax/sharding.py
Owners: @vipannalla, @py4, @bzgoogle, @jrplatin, @gpolovets1

wip
  tests/layers/vllm/utils.py
Owners: @vipannalla

address comments
  tests/runner/test_tpu_jax_runner_dp.py
  tpu_inference/core/sched/dp_scheduler.py
  tpu_inference/layers/jax/attention/attention.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/tpu_jax_runner.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @vipannalla, @sixiang-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @xiangxu-google, @lsy323, @vanbasten23

wip
  tpu_inference/core/sched/dp_scheduler.py
Owners: @sixiang-google

fix test
  tests/runner/test_kv_cache.py
Owners: @vipannalla

squash
  .buildkite/pipeline_jax.yml
  tests/core/test_dp_scheduler.py
  tests/e2e/test_data_parallel.py
  tests/layers/jax/layers/attention/test_common_attention.py
  tests/layers/jax/layers/test_sharding.py
  tests/runner/test_tpu_jax_runner_dp.py
  tpu_inference/core/sched/__init__.py
  tpu_inference/core/sched/dp_scheduler.py
  tpu_inference/layers/jax/attention/attention.py
  tpu_inference/layers/jax/attention_interface.py
  tpu_inference/layers/jax/sample/sampling.py
  tpu_inference/layers/jax/sample/sampling_metadata.py
  tpu_inference/layers/jax/sharding.py
  tpu_inference/layers/vllm/fused_moe.py
  tpu_inference/layers/vllm/quantization/common.py
  tpu_inference/layers/vllm/quantization/unquantized.py
  tpu_inference/layers/vllm/sharding.py
  tpu_inference/models/common/model_loader.py
  tpu_inference/models/jax/llama3.py
  tpu_inference/models/jax/qwen2.py
  tpu_inference/models/jax/qwen3.py
  tpu_inference/models/jax/utils/quantization/quantization_utils.py
  tpu_inference/models/vllm/vllm_model_wrapper.py
  tpu_inference/platforms/tpu_jax.py
  tpu_inference/runner/compilation_manager.py
  tpu_inference/runner/kv_cache.py
  tpu_inference/runner/kv_cache_manager.py
  tpu_inference/runner/tpu_jax_runner.py
  tpu_inference/utils.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @jcyang43, @vipannalla, @sixiang-google, @py4, @bzgoogle, @jrplatin, @gpolovets1, @hfan, @vanbasten23, @lsy323, @xiangxu-google

fix test coverage
  tests/core/test_dp_scheduler.py
  tests/runner/test_tpu_jax_runner_dp.py
  tpu_inference/runner/compilation_manager.py
Owners: @vipannalla, @py4, @xiangxu-google

fix precompilation
  tpu_inference/runner/compilation_manager.py
Owners: @py4, @xiangxu-google

fix tests
  tests/models/common/test_model_loader.py
  tpu_inference/worker/tpu_worker_jax.py
Owners: @vipannalla, @py4, @xiangxu-google, @lsy323, @vanbasten23
